{% extends 'base.html' %}

{% block content %}
<nav id="logo" class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="glyphicon glyphicon-menu-hamburger"></span>                     
        </button>
        <a id="logo" class="navbar-brand" href="https://okta-auth-django.herokuapp.com/">Snapeda</a>
      </div> 
      <p id="messageBox"  class="ml-5"></p>
  
        <div id="link" class="nav navbar-nav navbar-right ml-auto">
          <a href="https://okta-auth-django.herokuapp.com/" id='nshow'>Sign Up</a>
        </div>
    </div>
  </nav>

  {% endblock %}